{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


{% include "nav/adminnav.html" %}

<div class="container">
    <div class="row">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4">
            {% if errors %}
                {% for i in errors %}
                <div class="alert alert-danger" role="alert">{{i}}</div>
                {% endfor %}
            {% endif %}

            {% if success %}
                <div class="alert alert-success" role="alert">{{success}}</div>
            {% endif %}
                
            {% crispy form %}
        </div>
        <div class="col col-lg-4"></div>
    </div>
</div>

{% endblock %}