{% extends "base.html" %} {% block content %} {% include "nav/adminnav.html" %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4">
            <input type="text" value="{{train.id}}" id="train" hidden />
            {% crispy form %}
        </div>
        <div class="col col-lg-4"></div>
    </div>
</div>

<script>
    const train = document.getElementById("train");
    const train_id = train.value;
    const form = document.getElementById("edit-train-form");
    form.action = `/admin/edit/${train_id}`;
</script>


{% endblock %}