{% extends "base.html" %}


{% block content %}

{% include "nav/usernav.html" %}

<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-2"></div>
        <div class="col col-lg-8">
            <table class="table table-hovered table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>TrainName</th>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Seat No</th>
                        <th>Status</th>
                    </tr>
                </thead>
                {% if bookings %}
                <tbody>
                    {% for i in bookings %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.train.name }}</td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.train.from_station }} </td>
                        <td>{{ i.train.to_station }}</td>
                        <td>{{ i.train.id }} </td>
                        {% if i.status == 2 %}
                        <td class="text-success">Accepted</td>
                        {% elif i.status == 1 %}
                        <td class="text-danger">Rejected</td>
                        {% else %}
                        <td class="text-info">Pending</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>

{% endblock %}