{% extends "base.html" %} {% block content %} {% include "nav/usernav.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col col-lg-1"></div>
    <div class="col col-lg-10">
        <table class="table table-hovered table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Train Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% if trains %}
            <tbody>
            {% for i in trains %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.from_station }}</td>
                <td>{{ i.to_station }}</td>
                <td>{{ i.departure_time }}</td>
                <td>{{ i.arrival_time }}</td>
                <td>{{ i.price }} /-</td>
                <td><a href="/user/book/{{i.id}}/" class="btn btn-success">Book</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        </table>
    </div>
    <div class="col col-lg-1"></div>
  </div>
</div>

{% endblock %}
