{% extends "base.html" %}

{% load crispy_forms_tags  %}

{% block content %}
{% include "nav/mainnav.html" %}

<div class="container mt-2" style="height: 38rem; background-image: url('/static/train2.jpg'); object-fit: cover;">
    <div class="row">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4 mt-5">
            <div class="mt-5">
                <div class="card">
                    <div class="card-body">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4"></div>
    </div>
</div>

{% endblock %}