{% extends "base.html" %}

{% load crispy_forms_tags  %}

{% block content %}
{% include "nav/mainnav.html" %}

<div class="container" style="height: 38rem; background-image: url('/static/train2.jpg'); object-fit: cover;">
    <div class="row mt-5">
        <div class="col col-lg-4"></div>
        <div class="col col-lg-4">
            <div class="mt-5">
                <div class="card">
                    <div class="card-body">
                        {% if message %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endif %}
                {% crispy form %}
                    </div>
                </div>
        </div>
        </div>
        <div class="col col-lg-4"></div>
    </div>
</div>

{% endblock %}